

/* Barbara's section */








































































































































/* Laurie's section  */
.btn  {
    margin-left: 7px;
}

.nav-item {
    margin-left: 70px;
}

.card-link {
    text-decoration: none;
    
}

.bullet-line {
    display: inline-block;
}

.card {
    border: none;
}

.card-main {
    display:flex;
    margin: auto;
    padding-bottom: 100px;
    border-radius: 20%;
}

.wrapper {
	padding-bottom: 90px;
}

.divider {
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.row {
    justify-content: center;
}







/* Tuan's section */