

/* Barbara's section */



/* Laurie's section  */
.btn  {
    margin-left: 7px;
}

.nav-item {
    margin-left: 70px;
}

.card-link {
    text-decoration: none;
    
}

.bullet-line {
    display: inline-block;
}

.card {
    border: none;
}


/* Tuan's section */