.card-body {
    background-color: blue;

}
.h1 {
    text-align: center;
    font-size: 20px;
}
p1 {
    font-size: 15px;
}
.h2 {
    text-align: center;
    font-size: 14px;
}
.card-title {
    color: white;
    text-align: center;
    font-size: large;
}
.card-text {
    color: white;
    text-align: center;
    font-size: small;
}
#first-button {
   background-color: greenyellow ;
   text-decoration: none;
 
}

#second-button{
   background-color: grey;
   text-decoration: none;
   margin-left: 15px;
}

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
}

.square-1{
    border:2px solid lightgrey;
    height: 110px;
    width: 100px;
    margin: top 10px; 
    border-radius: 25px;

}
.square-2{
    border:2px solid lightgrey;
    height: 110px;
    width: 100px;
    margin-top: 10px;
    border-radius: 25px;
    
    
}
.square-3{
    border:2px solid lightgrey;
    height: 110px;
    width: 100px;
    margin-top: 10px; 
    border-radius: 25px;

}
.square-4{
    border:2px solid lightgrey;
    height: 110px;
    width: 100px;
    margin-top: 10px; 
    border-radius: 25px;

}

ul{
    margin: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: small;
}

li {
    color: white;
    margin: 20px;
    display: inline-block;
}


#center-content {
    justify-content: center;
    border-style : solid;
    border-radius: 25px;
    border-color: grey;
}
  .button-1 {
    border-radius: 15px;
    background-color: blue;
    border-color: white;
    color: white;
    width: 25%;
  }

  #text-center {
      background-color: blue;
      color: white;
      border-radius: 25px;
  }

  #center-list {
      font-size: smaller;
  }



  

    
    


